@import url("https://fonts.googleapis.com/css2?family=Asap+Sharp:ital,wdth,wght@0,75..125,100..900;1,75..125,100..900&display=swap");
:root {
  --primary: #6415ff;
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

img {
  width: 100%;
}

.row {
  width: 100%;
  max-width: 1200px;
  margin: 0 auto;
  margin-top: 15px;
}

p {
  font-family: "Asap Sharp", sans-serif;
}

.purple {
  color: var(--primary);
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  text-align: center;
}

.header__links {
  display: flex;
  list-style: none;
  align-items: center;
  
}

.header__link,
.header__link--primary,
.header__link--secondary {
  text-decoration: none;
  color: black;
}

.header__link--primary {
  background-color: var(--primary);
  margin-left: 18px;
  background-color: #7028ff;
  padding: 10px 12px 10px 12px;
  border-radius: 20px;
  color: white;
}

.header__link--primary:hover {
  background-color: #8950fa;
  cursor: Not-allowed;
}

.header__link--primary:active {
  background-color: #722efa;
}
.header__link {
  margin-right: 70px;
  text-decoration: none;
  font-family: "Asap Sharp", sans-serif;
  font-weight: 400;
}

.header__img {
  width: 20%;
  padding-right: 15px;
}

.header__figure {
  display: flex;
  justify-content: center;
  align-items: center;
}

/*

TEMPLATE

*/

.template__section {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 150px;
}

.template__text--div {
  display: flex;
  flex-direction: column;
  width: 40%;
  gap: 0px;
  margin-left: 125px;
}

.template__para,
.template__title {
  font-family: "Asap Sharp", sans-serif;
}

.template__footer--img {
  
}

.templates__section {
  display: flex;
  height: 600px;
  margin-top: 150px;
}

.template__title {
  font-size: 38px;
  max-width: 348px;
}

.template__para {
  font-size: 18px;
  color: grey;
  margin-top: 45px;
  max-width: 348px;
}

.template__img--div img{
  position: absolute;
  top: 11%;
  z-index: 3
}

.template__form {
  margin-top: 70px;
  position: relative;
  display: flex;
  justify-content: end;
  align-items: center;
  padding-right: 12px;
}

.template__para--trusted {
  margin-top: 50px;
  margin-bottom: 15px;
  font-family: "Asap Sharp", sans-serif;
  font-size: 18px;
  color: grey;
  margin-top: 45px;
}

.template__input {
  border: 1px solid var(--primary);
  background: transparent;
  padding: 20px 5px;
  left: 0;
  width: 100%;
  position: absolute;
  border-radius: 20px;
  overflow: hidden;
}

.template__img--div {
  width: 70%;
  display: flex;
  position: relative;
}

.template__button {
  color: white;
  background-color: var(--primary);
  border: none;
  padding: 16px 30px;
  white-space: nowrap;
  cursor: Not-allowed;
  border-radius: 25px;
  z-index: 2;
}

/*

FEATURES

*/

.section__intro {
  color: var(--primary);
  margin: 0 auto;
  font-family: 'Asap Sharp', sans-serif;
  font-size: 25px;
  font-weight: 600;
  padding-bottom: 25px;
}

.feature__text {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 40px;
  text-align: center;
  position: relative;
}

.service__purple {
  color: var(--primary);
  display: inline;
  margin-bottom: 25px;
}

.features__subtitle {
  max-width: 450px;
  margin-top: 25px;
  font-family: lato, sans-serif;
  font-size: 14px;
}

.features__title {
  margin-top: 25px;
  font-size: 55px;
  font-family: lato, sans-serif;
}

.features__boxes {
  display: flex;
  justify-content: space-between;
  margin: 0 auto;
  gap: 100px;
  max-width: 1200px;
  margin-top: 40px;
  flex-wrap: wrap;
  list-style: none;
  position:relative;
}

.feature {
  max-width: 280px;
}


.feature__set__title {
  font-size: 40px;
  padding-bottom: 24px;
  font-family: lato, sans-serif;
}

.feature__set__sub-title {
  font-size: 20px;
  color: rgb(107, 98, 98);
  font-family: lato, sans-serif;
  letter-spacing: 2px
}

.feature__img {
  max-width: 45px;
  position: absolute; 
  margin-left: -65px;
}

.features__list {
  display: flex;
  justify-content: center;
  align-items: center;
}



/*

QUALITY

*/

.quality__section--div {
  display: flex;
  align-items: center;
  justify-content: space-between;
  max-width: 1200px;
  max-height: 800px;
  height: 800px;
}

.quality__text {
  display: flex;
  flex-direction: column;
  font-family: 'Asap Sharp', sans-serif;
}

.purple__title {
  font-weight: 600;
  font-size: 24px;
  font-family: 'Asap Sharp', sans-serif;
  color: var(--primary);
  margin-bottom: 24px;
  letter-spacing: 3px;
}

.quality__title {
  font-size: 50px;
  margin-bottom: 20px;
}

.quality__sub-text {
  max-width: 480px;
  color: grey;
  margin-bottom: 50px;
}

.quality__btn {
  background-color: var(--primary);
  border: none;
  border-radius: 24px;
  padding: 10px 20px 10px 20px;
  max-width: 30%;
  text-align: center;
  color: white;
  cursor: Not-allowed;
  font-weight: bold;
}

.quality__btn:hover {
  background-color: #8950fa;
  font-weight: bold;
}

.quality__btn:active {
  background-color: #722efa;
}

.quality__img__div {
  width: 50%
}

.quality__img__div img{
  box-shadow: 10px 6px 10px var(--primary)
}


/*

STEPS

*/

.steps__section--div {
  display: flex;
  justify-content: space-between;
  height: 650px;
}

.steps__img {
  width: 70%;
  height: 100%
}

.steps__img img{
  box-shadow: -8px 5px 10px var(--primary);
  width: 90%;
}

.steps__text--div {
  display: flex;
  flex-direction: column;
}

.steps__purple {
  color: var(--primary);
  margin-bottom: 40px;
  font-weight: 600;
  font-size: 24px;
  font-family: 'Asap Sharp', sans-serif;
  color: var(--primary);
  letter-spacing: 3px;
}

.steps__text {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-content: center;
}

.steps__title {
  margin-bottom: 24px;
  font-family: 'Asap Sharp', sans-serif;
  font-size: 50px;
}


.steps__list h1 {
  margin-bottom: 15px;
}

.steps__list p {
  color: grey;
  margin-bottom: 50px;
  max-width: 50%
}

.step::marker {
  color: grey;
  font-family: 'Asap Sharp', sans-serif;
  font-size: 30px;
}


/*

VALUES

*/

.values__section--div {
  display: flex;
  justify-content: space-between;
  max-height: 800px;
  height: 750px;
}

.values__text {
  display: flex;
  flex-direction: column;
}

.values__purple {
  color: var(--primary);
  font-family: 'Asap Sharp', sans-serif;
  font-weight: 600;
  font-size: 24px;
  letter-spacing: 3px;
  margin-bottom: 24px;
}


.values__title {
  font-family: 'Asap Sharp', sans-serif;
  font-size: 28px;
  max-width: 500px;
  margin-bottom: 35px;
}

.principles {
  color: grey;
  max-width: 500px;
}

.affordable__img {
  margin: 15px 0 15px 0;
  width: 16%;
  text-align: center;
  

}

.professionalism__img {
  width: 17%;
  height: 100%;
  margin: 15px 0 10px 5%;
  text-align: center;
}
.affordable__logo--assets {
  display: flex;
  align-items: center;
  text-align: center;
  max-width: 300px;
}

.professionalism__logo--assets {
  display: flex;
  max-width: 300px;
}

.cross__div {
  display: flex;
}

.affordable {
  display: flex;
  flex-wrap: wrap;
}

.affordable__logo-text {
  margin: 25px 0 15px 55px;
  max-width: 250px;
}

.professionalism__logo-text {
  margin: 25px 0 15px 55px;
  max-width: 250px;
}

.affordable p {
  max-width: 250px;
}

.values__learn {
  border: none;
  background-color: var(--primary);
  padding: 10px 15px 10px 15px;
  border-radius: 25px;
  max-width: 18%;
  margin-top: 50px;
  color: white;
  font-family: 'Asap Sharp', sans-serif;
  font-weight: 600;
  cursor: Not-allowed;
}

.values__learn:hover {
  background-color: #8950fa;
  cursor: Not-allowed;
}

.values__learn:active {
  background-color: #722efa;
}

/*

Pricing/plans

*/

.pricing__div {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-content: center;
  text-align: center;
}

.pricing__title--section {
  display: flex;
  justify-content: center;
  align-content: center;
  flex-direction: column;
}
.pricing__purple {
  color: var(--primary);
  font-family: 'Asap Sharp', sans-serif;
  font-size: 24px;
  letter-spacing: 3px;
  margin-bottom: 2%
}

.pricing__title {
  font-family: 'Asap Sharp', sans-serif;
  font-size: 50px;
  margin-bottom: 40px;
}

.pricing__sub-para {
  margin: 0 0 65px 30%;
  max-width: 500px;
}

.pricing__plans {
  display: flex;
  flex-direction: row;
  align-content: center;
  text-align: center;
  justify-content: center;
  height: 800px;
}

.pricing__plan-personal {
  padding: 5px 5px 5px 5px;
  background: #743ffb;
background: linear-gradient(3deg,rgba(116, 63, 251, 1) 0%, rgba(189, 0, 199, 1) 15%, rgba(90, 8, 94, 1) 100%);

  border: 1px solid rgb(128, 126, 126);
  border-radius: 25px;
  width: 38%;
  overflow: hidden;
  height: 70%;
  font-family: 'Asap Sharp', sans-serif;
  margin-right: 25px;
}

.pricing__plan-personal:hover {
  box-shadow: -10px 10px 6px var(--primary);
  margin-right: 5%;
}

.plan__title {
  background-color: var(--primary);
  border-radius: 15px;
  font-family: 'Asap Sharp', sans-serif;
}

.pricing__plan-personal-top {
  display: flex;
  flex-direction: column;
  margin-bottom: 15%;
  border-radius: 25px;
  background-image: linear-gradient(90deg, #FDBB2D 0%, #3A1C71 100%);
}

.pricing__plan-personal-top:hover {
  background-image: linear-gradient(90deg, #8d7133 0%, #2f1957 100%);
  border: 1px solid black;
}

.pricing__plan-business {
  padding: 5px 5px 5px 5px;
  background: #743ffb;
background: linear-gradient(3deg,rgba(116, 63, 251, 1) 0%, rgba(189, 0, 199, 1) 15%, rgba(90, 8, 94, 1) 100%);

  border-radius: 25px;
  width: 38%;
  overflow: hidden;
  height: 70%;
  font-family: 'Asap Sharp', sans-serif;
  margin-right: 25px;
}

.pricing__plan-business:hover {
  box-shadow: 0 15px 6px var(--primary);
  margin: 0 5% 0 5%;
}
.pricing__plan-business-top {
  display: flex;
  flex-direction: column;
  margin-bottom: 15%;
  border-radius: 25px;
  background-image: linear-gradient(to right top, #d16ba5, #c777b9, #ba83ca, #aa8fd8, #9a9ae1, #8aa7ec, #79b3f4, #69bff8, #52cffe, #41dfff, #46eefa, #5ffbf1);
  color: white;
}

.pricing__plan-business-top:hover {
  background-image: linear-gradient(to right top, #c25f97, #a75c99, #a566b8, #8966c5, #7676c4, #7491d3, #6093ce, #5097c7, #3994b6, #1b9fb9, #19a4ad, #3ce9dd);
  border: 1px solid black;
}

.pricing__plan-enterprise {
  padding: 5px 5px 5px 5px;
  background: #743ffb;
background: linear-gradient(3deg,rgba(116, 63, 251, 1) 0%, rgba(189, 0, 199, 1) 15%, rgba(90, 8, 94, 1) 100%);
  border-radius: 25px;
  width: 38%;
  overflow: hidden;
  height: 70%;
  font-family: 'Asap Sharp', sans-serif;
}

.pricing__plan-enterprise:hover {
  box-shadow: 10px 10px 6px var(--primary);
  margin-left: 5%;
}

.plan__title {
  margin-bottom: 5%
}

.plan__price {
  font-size: 50px;
  font-weight: 800;
}

.monthly {
  margin: 10px 0 25px;
}

.individuals {
  margin-bottom: 5%;
}

.individuals--bus {
  color: white;
  margin-bottom: 5%;
}
.plan__feature {
  margin-bottom: 15px;
}

.plan__feature-primary {
  margin-bottom: 18%;
}

.plan__feature--bus-primary {
  margin-bottom: 18%;
  color: white;
}
.plan__feature--bus {
  color: white;
  margin-bottom: 15px;
}
.pricing__plan-enterprise-top {
  display: flex;
  flex-direction: column;
  margin-bottom: 15%;
  border-radius: 25px;
  background: #DCFFBD;  /* fallback for old browsers */
background: -webkit-linear-gradient(to right, #CC86D1, #DCFFBD);  /* Chrome 10-25, Safari 5.1-6 */
background: linear-gradient(to right, #CC86D1, #DCFFBD); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}

.pricing__plan-enterprise-top:hover {
  display: flex;
  flex-direction: column;
  margin-bottom: 15%;
  border: 1px solid black;
  border-radius: 25px;
  background: #84af5d;  /* fallback for old browsers */
background: -webkit-linear-gradient(to right, #b063b6, #749b51);  /* Chrome 10-25, Safari 5.1-6 */
background: linear-gradient(to right, #a362a7, #8ab168); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}

.button__div-per {
  display: flex;
  justify-content: center;
  align-items: center;
  border: 1px solid black;
  border-radius: 25px;
  height: 15%;
  background-image: linear-gradient(90deg, #FDBB2D 0%, #3A1C71 100%);
}

.button__div-bus {
  display: flex;
  justify-content: center;
  align-items: center;
  border: 1px solid black;
  border-radius: 25px;
  height: 15%;
  background-image: linear-gradient(to right top, #d16ba5, #c777b9, #ba83ca, #aa8fd8, #9a9ae1, #8aa7ec, #79b3f4, #69bff8, #52cffe, #41dfff, #46eefa, #5ffbf1);
}

.button__div-ent {
  display: flex;
  justify-content: center;
  align-items: center;
  border: 1px solid black;
  border-radius: 25px;
  height: 15%;
  background: #DCFFBD;  /* fallback for old browsers */
background: -webkit-linear-gradient(to right, #CC86D1, #DCFFBD);  /* Chrome 10-25, Safari 5.1-6 */
background: linear-gradient(to right, #CC86D1, #DCFFBD); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}

.plan__btn {
  background-color: var(--primary);
  border: none;
  padding: 16px 30px;
  white-space: nowrap;
  cursor: Not-allowed;
  border-radius: 25px;
  z-index: 2;
  background: #f7f0ac;  /* fallback for old browsers */
  background: -webkit-linear-gradient(to top, #f0acf7, #acf7f0, #f7f0ac);  /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to top, #f0acf7, #acf7f0, #f7f0ac); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  border: none;
  color: rgb(6, 6, 36);
  font-weight: 800;
}

/*

TESTIMONIALS

*/

.testimonials__section--div {
  display: flex;
  justify-content: space-between;
}


.testimonail__img {
  width: 70%;
  margin-top: 15%
}
.testimonials__text {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  text-align: start;
  margin-left: 2%;
}
.testimonials__purple {
  color: var(--primary);
  font-family: 'Asap Sharp', sans-serif;
  font-weight: 600;
  font-size: 24px;
  letter-spacing: 3px;
  margin-bottom: 50px;
}

.testimonials__title {
  font-family: 'Asap Sharp', sans-serif;
  font-size: 50px;
  margin: 40px;
  max-width: 700px;
  overflow:visible;
}

.testimonails__para {
  text-align: center;
  max-width: 500px;
  color: grey;
}

.stars {
  margin: 4% 0 -2% 0;
  max-width: 150px;
}

.experience {
  font-size: 24px;
  font-family: 'Asap Sharp', sans-serif;
  color: rgb(65, 64, 64);
  margin-bottom: 35px;
}

.review__para {
  text-align: center;
  max-width: 500px;
  color: grey;
}

.profile__picture {
  display: flex;
  margin-top: 8%;
  align-items: center;
}

.profile__pic {
  width: 15%;
  border-radius: 50px;
}

.profile__picture--text {
  display: flex;
  flex-direction: column;
  margin-left: 8%;
}

.name {
  color: rgb(78, 6, 78)
}

.position {
  color: rgb(65, 64, 64);
}

.hover__bar {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  border: none;
  width:1200px;
  height: 280px;
  background: var(--primary);
  border-radius: 25px;
  margin: 10% 0 25% 0;
}

.hover__bar h1 {
  color: white;
  font-size: 24px;
  font-family: 'Asap Sharp', sans-serif;
  max-width: 35%;
}

.hover__bar--get-started {
  background-image: linear-gradient(90deg, #FDBB2D 0%, #3A1C71 100%);
    background-color: var(--primary);
    border: none;
    padding: 16px 30px;
    white-space: nowrap;
    cursor: not-allowed;
    border-radius: 25px;
    border: none;
    color: rgb(6, 6, 36);
    font-weight: 800;
    font-family: 'Asap Sharp', sans-serif;
}

.hover__bar--contact-us {
  color: white;
  font-weight: 800;
    background-color: var(--primary);
    border: none;
    padding: 16px 30px;
    white-space: nowrap;
    cursor: not-allowed;
    border-radius: 25px;
    font-family: 'Asap Sharp', sans-serif;
}

/*

FOOTER

*/

.footer__section--div {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  width: 100%;
  height:500px;
  background: var(--primary);
}

.sections {
  display: flex;
  justify-content: space-evenly;
  
  
}

.section {
  display: flex;
  flex-direction: column;
  margin-top: 25px;
  border-bottom: 2px solid black;
}

.footer__end {
  display: flex;
  align-items: center;
}
.links {
  display: flex;
  flex-direction: column;
  gap: 15px;
  margin-top: 35px;
}

.link {
    text-decoration: none;
    color: white;
    font-family: 'Asap Sharp', sans-serif;
}

.logo__div {
  max-width: 5%;
  margin-right: 2%
}
.social__links img {
  max-width: 20%;
  font-family: 'Asap Sharp', sans-serif;
}

.social__links {
  margin-left: 70%;
  cursor: not-allowed;
}

.section__title {
  color: white;
  font-family: 'Asap Sharp', sans-serif;
}
.footer__end h2 {
  color: white;
  font-family: 'Asap Sharp', sans-serif;
  width: 120px;
  text-align: center;
  margin-left: -15%;
}

.copyright__div {
  display: flex;
  justify-content: center;
  align-content: center;
  color: white;
  font-family: 'Asap Sharp', sans-serif;
  font-size: 10px;
  font-weight: 100;
  margin: 2% 0 2% 0;
  text-align: center;
}